body {
  background-color: black;
  font-family: Verdana;
  text-align: center;
}

.main-title {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.download-link {
  color: aquamarine;
  font-size: 16px;
}

.sub-title {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.description {
  font-size: 21px;
  color: gray;
}

.bottom-section {
  margin-top: 20px;
}

.copyright {
  text-align: right;
  color: gray;
}